body{
    margin: 0;
    padding: 0;
    background-color: azure;
    --colorA:#916B24;
    --colorB:#2B1D0E;
    --colorC:#C08D2C;
}

.nav-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color:var(--colorA);
    margin: 0;
    padding: 0.8em 0;
    border-bottom: 1px dotted var(--colorB);
    list-style: none;
}
.nav--item{
    font-weight:700;
    color: black;
}

.header--img,.article--img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.tags{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.tags-list{
    background-color: black;
    color: white;
    padding: 0.3em;
    margin: 0.25rem 0.5rem;
    border-radius: 20%;
}
.showlist{
    margin: 0 0.5rem;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap:10px ;
}

.card{
    background-color:black;
    opacity: 0.85;
    margin-top: 1rem;
    width: 98%;
    color: azure;
    box-sizing: border-box;
    border: 2px solid var(--colorA);
    box-shadow: 0 2px 5px rgb(32, 32, 32);
    text-align: center;
}
.card:hover{
    opacity: 1;
    color: navy;
}

.card-img{
    width: 100%;
}
.card--name{
    font-style: italic;
    font-weight: 700;
}

.more{
    text-align: center;
    color: azure;
    background-color: black;
    margin: 2rem;
    padding: 0.8em;
    border:2px solid var(--colorC);
}

article{
    background-color: black;
    color: var(--colorC);
    padding: 0.2em 2em;
}

.article-img__wrapper{
    width: 100%;
    border: 2px solid var(--colorB);
    }
hr{
    background-color: var(--colorC);
}
address{
    padding: 2em;
    padding-bottom: 0;
    color: black;
}
.contact-icons{
    text-align:center;
}
footer{
    color: black;
    margin: 0;
    padding-bottom: 0.001em;
}
.whatsapp{
    margin-left: 80%;
    margin-top: 85vh;
    z-index: 1;
    position: fixed;
    animation: blip infinite 5s ease;
}
@keyframes blip{
    0%{
        transform:scale(1)
    }
    15%{
        transform:scale(1.2)
    }
    30%{
        transform:scale(1) 
    }
    100%{
        transform:scale(1) 
    }
}
@media (min-width:766px){
    .nav-main{
        padding: 1.6em;
    }
    .tags{
        justify-content: flex-start;
    }
    .tags-list{
        font-size: larger;
    }
    .showlist{
        gap:20px;
    }
    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    main{
        margin: 0 2rem;
    }
    .whatsapp{
        width: 60;
        height: 60;
        margin-left: 90%;
    }
    article{
      
        background-color: azure;
    }
    .black{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: black;
    }
    .article-text{
        width: 60%;
        margin: 1rem;
    }
    .article-img__wrapper{
        border: none;
        }
    .article--img{
        object-fit: contain;
    }
    address{
        font-size: larger;
    }
}